@{
    ViewBag.Title = "Variant";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <input id="btn-create-new" type="button" value="Create New" class="btn btn-default btn-lg" />
    </div>
    <!-- Table -->
    <div id="data-list" class="data-coba">
        <h3>Loading...</h3>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Variant")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });
        }

        $("#btn-create-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Variant")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Create");
                    $(".modal").modal("show");
                }
            });
        });
    </script>
}